@import "tailwindcss";

@theme inline {
  --font-pop: var(--font-pop);
  --font-play: var(--font-play);
  --font-dm: var(--font-dm);
}

body {
  font-family: var(--font-pop), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
